version: "3.6"
services:

  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.3.1
    container_name: rideprediction-es
    environment:
      - node.name=rideprediction-node01
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - /opt/github/bruenni/rideprediction/elasticsearch/esdata01:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300
    networks:
      rideprediction:
        aliases:
          - elasticsearch

  kibana:
    image: docker.elastic.co/kibana/kibana:7.3.1
    container_name: rideprediction-kibana
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    depends_on:
      - es
    ports:
      - 5601:5601
    networks:
      - rideprediction


  keycloak:
    container_name: rideprediction-keycloak
    image: jboss/keycloak:7.0.0
    depends_on:
      - postgres-keycloak
    networks:
      rideprediction:
        aliases:
          - keycloak
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - DB_VENDOR=postgres
      - DB_ADDR=postgres-keycloak
      - DB_USER=keycloak
      - DB_PASSWORD=password
    expose:
      - 8080
    ports:
      - 8090:8080

  zipkin:
    container_name: hukhsa-zipkin
    image: openzipkin/zipkin
    expose:
      - 9411
    ports:
      - 9411:9411
    networks:
      - rideprediction

  h2:
    image: oscarfonts/h2:1.4.196
    networks:
      rideprediction:
        aliases:
          - h2
    volumes:
      - /opt/github/bruenni/rideprediction/keycloak/h2-data:/opt/h2-data
    ports:
      - "1521:1521"

  postgres-keycloak:
    image: postgres:12-alpine
    container_name: rideprediction-postgres
    networks:
      rideprediction:
        aliases:
          - postgres-keycloak
    volumes:
      - /opt/github/bruenni/rideprediction/keycloak/postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"

  jenkins:
    image: jenkins/jenkins:lts-alpine
    container_name: rideprediction-jenkins
    volumes:
      - /opt/github/bruenni/rideprediction/jenkins/home:/var/jenkins_home
      # - /srv/docker/prj_continental/jenkins/m2-repo:/root/.m2
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "8081:8080"

networks:
  rideprediction:
